{% extends "base.twig" %}

{% block content %}
<section id="intro" class="section">
	<div class="container">
		<div class="intro--wrapper">
			<h1 class="intro--heading mb-4">{{ post.title }}</h1>
			{% if post.thumbnail %}
				<img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}" class="intro--image">
			{% endif %}
		</div>
	</div>
</section>

<section id="post" class="section">
	<div class="container">
		<article class="prose post-type-{{post.post_type}}" id="post-{{post.ID}}">
			{{post.content}}
		</article>
        {% include "partials/optin-mini.twig" %}
	</div>
</section>
{% endblock %}